:root {
    --darker-off-black: #000909;
    --off-black: #000E14;
    --blue-black: #002E44;
    --darker-blue: #033B48;
    --accent-blue: #125C5C;
    --ocean-blue: #8dc7d5;
    --darker-green: #47974E;
    --accent-green: #8BC387;
    --leaf-green: #2d850e;
    --off-white: #FDF6E9;
    --lighter-off-white: #F9F9F9;
}
/* TODO: Move home page content to home-style.css */
body {
    font-family: "Roboto Light", sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--off-white);
    /*background-color: var(--lighter-off-white);*/
    /*background-image: url("../images/budget_buddy_logo_cropped.jpg");*/
    background-repeat: no-repeat;
    /*overflow: hidden;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
h1 {
    font-size: calc(((6vw + 6vh) / 2) + 12px);
}
h2 {
    font-size: calc(((4.5vw + 4.5vh) / 2) + 10px);
}
h3 {
    font-size: calc(((3.25vw + 3.25vh) / 2) + 8px);
}
h4 {
    font-size: calc(((2vw + 2vh) / 2) + 6px);
}
h5 {
    font-size: calc(((1.25vw + 1.25vh) / 2) + 4px);
}
h6 {
    font-size: calc(((0.5vw + 0.5vh) / 2) + 2px);
}
p {
    font-size: calc(((1.25vw + 1.25vh) / 2) + 4px);
}
.link-no-style {
    text-decoration: none;
    color: inherit;
}
#vine-navigator {
    position: absolute;
    top: 0;
    right: calc((((2.55vw + 2.55vh) / 2) + 2.5em) * -1);
    /*margin: 0 0 0 calc(((50vw + 50vh) / 2) + 50em);*/
    /*overflow: hidden;*/
    z-index: 0;
    animation: sway 15s cubic-bezier(0.19, 0.57, 0.49, 0.96) infinite;
    height: 100%;

}

@keyframes sway {
    0% {
        transform-origin: top;
        transform: rotate(0deg);
    }
    30% {
        transform-origin: top;
        transform: rotate(2deg);
    }
    60% {
        transform-origin: top;
        transform: rotate(5deg);
    }
    100% {
        transform-origin: top;
        transform: rotate(0deg);
    }
}
nav {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--off-black);
}
#nav-items {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*border-bottom: var(--darker-off-black) solid 1px;*/
    /*padding: calc(((0.68vw + 0.68vh) / 2) + 0.68em) 0;*/
    padding: 0 0 calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0;
    margin: 0;
}

.nav-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    margin: 0 0 calc((((0.25vw + 0.25vh) / 2) * -1) + 0.25em) 0;
    border-radius: 0 0 calc(((0.5vw + 0.5vh) / 2) + 0.5em) calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    background-color: rgba(0, 46, 68, 0.25);
    flex-basis: calc(((10vw + 10vh) / 2) + 2em);
    box-shadow: none;
    transition: background-color, box-shadow, margin-top, margin-left, color, 0.25s;
}
.nav-item:hover {
    background-color: var(--leaf-green);
    box-shadow: var(--accent-green) calc(((0.15vw + 0.15vh) / 2) + 0.15em) calc((((0.25vw + 0.25vh) / 2) + 0.25em) * -1) 0 0;
    cursor: pointer;
}
.nav-item:hover .nav-text {
    color: var(--off-black);
}
.nav-item:active {
    /*padding-top: calc(((0.25vw + 0.25vh) / 2) + 0.25em);*/
    margin-left: calc(((0.25vw + 0.25vh) / 2) + 0.25em);
    box-shadow: none;
    margin-top: calc((((0.15vw + 0.15vh) / 2) + 0.15em) * -1);
}
.nav-text {
    padding: 0;
    margin: 0;
    color: var(--off-white);
}
#background-logo {

}
.stripe {
    width: 100%;
    margin: calc(((4vw + 4vh) / 2) + 2em) 0;
    padding: 0;
    height: calc(((18vw + 18vh) / 2) + 3em);
    background-color: var(--accent-green);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.indented {
    text-indent: calc(((1vw + 1vh) / 2) + 1em);
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(calc((0.5vw + 0.5vh) / 2));
    }
    100% {
        transform: translateY(0);
    }
}
.input-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(((1vw + 1vh) / 2) + 1em) 0;
}
.input-title-text {
    margin: 0;
    padding: 0;
}
.input-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
.user-input {
    width: calc(((10vw + 10vh) / 2) + 5em);
    padding: calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    margin: 0 0 0 calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    border-radius: calc(((2vw + 2vh) / 2) + 2em);
    border: none;
    background-color: var(--off-white);
    color: var(--off-black);
    font-size: calc(((1.25vw + 1.25vh) / 2) + 4px);
    box-shadow: var(--leaf-green) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0 0;
    transition: box-shadow, 0.25s;
}
.user-input:focus {
    box-shadow: var(--leaf-green) calc(((0.35vw + 0.35vh) / 2) + 0.35em) calc(((0.35vw + 0.35vh) / 2) + 0.35em) 0 0;
}
.user-input-checkbox {
    width: calc(((1.25vw + 1.25vh) / 2) + 4px);
    height: calc(((1.25vw + 1.25vh) / 2) + 4px);
    margin: 0;
    box-shadow: var(--leaf-green) calc(((0.15vw + 0.15vh) / 2) + 0.15em) calc(((0.15vw + 0.15vh) / 2) + 0.15em) 0 0;
}
.user-input-checkbox:checked {
    box-shadow: var(--leaf-green) calc(((0.2vw + 0.2vh) / 2) + 0.2em) calc(((0.2vw + 0.2vh) / 2) + 0.2em) 0 0;
}
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--off-black);
    color: var(--off-white);
    padding: calc(((0.5vw + 0.5vh) / 2) + 0.5em) 0;
    /*margin: 0;*/
    margin-top: auto;
}
#footer-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
#footer-text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#footer-links-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    border-left: var(--off-white) solid calc(((0.05vw + 0.05vh) / 2) + 0.05em);
}