:root {
    --darker-off-black: #000909;
    --off-black: #000E14;
    --blue-black: #002E44;
    --darker-blue: #033B48;
    --accent-blue: #125C5C;
    --darker-green: #47974E;
    --accent-green: #8BC387;
    --off-white: #FDF6E9;
    --lighter-off-white: #F9F9F9;
}