#headline-section {
    margin: calc(((3vw + 3vh) / 2) + 2em) 0;
}

#title-motto-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--leaf-green);
    padding: calc(((0.75vw + 0.75vh) / 2) + 0.75em);
    border-radius: calc(((1vw + 1vh) / 2) + 1em);
    box-shadow: var(--off-black) calc(((0.5vw + 0.5vh) / 2) + 0.5em) calc(((0.5vw + 0.5vh) / 2) + 0.5em) 0 0;
    transition: box-shadow 0.25s;
    animation: float 5s cubic-bezier(0, .37, .69, .99) infinite;
}
#title-motto-div:hover {
    box-shadow: var(--off-black) calc(((0.65vw + 0.65vh) / 2) + 0.65em) calc(((0.65vw + 0.65vh) / 2) + 0.65em) 0 0;
}
#title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
#title-text {
    color: var(--off-black);
    padding: 0;
    margin: 0;
}
#motto-div {
    width: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darker-green);
    padding: calc(((0.5vw + 0.5vh) / 2) + 0.5em) 0;
    margin: 0;
    border-radius: calc(((1vw + 1vh) / 2) + 1em);
}
#motto-text {
    font-style: italic;
    color: var(--off-white);
    padding: 0;
    margin: 0;
}
#promo-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
#promo-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 80%;
}
#promo-text-div {
    width: 65%;
    padding: calc(((2vw + 2vh) / 2) + 2em);
    border-radius: calc(((1vw + 1vh) / 2) + 1em);
    border: var(--leaf-green) solid calc(((0.05vw + 0.05vh) / 2) + 0.05em);
    margin: 0;
    background-color: var(--lighter-off-white);
    /*box-shadow: var(--off-black) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0 0;*/
    box-shadow: var(--accent-green) 0 0 calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.15vw + 0.15vh) / 2) + 0.15em);
}
#promo-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 0;
    margin: 0;
}
#promo-logo {
    border-radius: 20%;
    width: calc(((15vw + 15vh) / 2) + 3em);
    /*margin: 0 calc((((15vw + 15vh) / 2) + 3em) * 1) 0 0;*/
    box-shadow: var(--off-black) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0 0;
    transition: box-shadow 0.25s;
    padding: 0;
    margin: 0;
    border: var(--leaf-green) solid calc(((0.05vw + 0.05vh) / 2) + 0.05em);
}
#promo-logo:hover {
    /*box-shadow: var(--leaf-green) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0 0;*/
    box-shadow: var(--off-black) calc(((0.35vw + 0.35vh) / 2) + 0.35em) calc(((0.35vw + 0.35vh) / 2) + 0.35em) 0 0;
}
#features-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-direction: column;
}
#visualize-feature-with-product-name {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: calc(((4vw + 4vh) / 2) + 2em) 0 0 0;
}
#visualize-feature-stripe {
    height: calc(((8vw + 8vh) / 2) + 2em);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
#visualize-data-title-text {
    font-size: calc(((3vw + 3vh) / 2) + 8px);
    color: var(--off-white);
}
#visualize-product-name-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 calc(((3vw + 3vh) / 2) + 1em);
    margin: 0;
    height: calc(((3vw + 3vh) / 2) + 3em);
    background-color: var(--accent-green);
    border-bottom-left-radius: calc(((1vw + 1vh) / 2) + 1em);
    border-bottom-right-radius: calc(((1vw + 1vh) / 2) + 1em);
}
#product-name-visualize-text {
    color: var(--off-white);
    font-size: calc(((3vw + 3vh) / 2) + 6px);
    margin: 0;
    padding: 0;
}
#pie-with-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: calc(((3vw + 3vh) / 2) + 3em) 0;
    width: 90%;
}
#feature-pie-chart-div {
    width: calc(((20vw + 20vh) / 2) + 5em);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: calc(((2vw + 2vh) / 2) + 2em) 0;
    margin: 0;
    box-shadow: var(--accent-green) 0 0 calc(((0.15vw + 0.15vh) / 2) + 0.15em) calc(((0.15vw + 0.15vh) / 2) + 0.15em);
    border-radius: calc(((1vw + 1vh) / 2) + 1em);
}
#buddy-breakdown-text-div {
    width: calc(((20vw + 20vh) / 2) + 10em);
    padding: calc(((2vw + 2vh) / 2) + 2em);
    border-radius: calc(((1vw + 1vh) / 2) + 1em);
    background-color: var(--ocean-blue);
    margin: 0 0 0 calc(((2vw + 2vh) / 2) + 2em);
    box-shadow: var(--off-black) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0 0;
}
#budgeting-feature-with-product-name {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: calc(((4vw + 4vh) / 2) + 2em) 0 0 0;
}
#budgeting-feature-stripe {
    height: calc(((8vw + 8vh) / 2) + 2em);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
#budgeting-data-title-text {
    font-size: calc(((3vw + 3vh) / 2) + 8px);
    color: var(--off-white);
}
#budgeting-product-name-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 calc(((3vw + 3vh) / 2) + 1em);
    margin: 0;
    height: calc(((3vw + 3vh) / 2) + 3em);
    background-color: var(--accent-green);
    border-bottom-left-radius: calc(((1vw + 1vh) / 2) + 1em);
    border-bottom-right-radius: calc(((1vw + 1vh) / 2) + 1em);
}
#product-name-budgeting-text {
    color: var(--off-white);
    font-size: calc(((3vw + 3vh) / 2) + 6px);
    margin: 0;
    padding: 0;
}
#bar-with-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: calc(((2vw + 2vh) / 2) + 2em);
    width: 90%;
}
#budgeting-text-div-1 {
    width: calc(((20vw + 20vh) / 2) + 10em);
    padding: calc(((2vw + 2vh) / 2) + 2em);
    border-radius: calc(((1vw + 1vh) / 2) + 1em);
    background-color: var(--ocean-blue);
    margin: calc(((2vw + 2vh) / 2) + 2em);
    box-shadow: var(--off-black) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0 0;
}
#feature-bar-chart-div {
    width: calc(((30vw + 30vh) / 2) + 3em);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: calc(((2vw + 2vh) / 2) + 2em) 0;
    margin: calc(((2vw + 2vh) / 2) + 2em);
    box-shadow: var(--accent-green) 0 0 calc(((0.15vw + 0.15vh) / 2) + 0.15em) calc(((0.15vw + 0.15vh) / 2) + 0.15em);
    border-radius: calc(((1vw + 1vh) / 2) + 1em);
}
#budgeting-text-div-2 {
    width: calc(((10vw + 10vh) / 2) + 15em);
    padding: calc(((1vw + 1vh) / 1) + 1em);
    border-radius: calc(((1vw + 1vh) / 2) + 1em);
    background-color: var(--ocean-blue);
    margin: calc(((2vw + 2vh) / 2) + 2em);
    box-shadow: var(--off-black) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0 0;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(calc((0.5vw + 0.5vh) / 2));
    }
    100% {
        transform: translateY(0);
    }
}