<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget Buddy</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
    th:href="@{/static/style/global-style.css}">
</head>
<body>
<div id="chart-div-1">
    <canvas id="pie-chart"></canvas>
</div>
<div id="chart-div-2">
    <canvas id="bar-chart"></canvas>
</div>
<div id="chart-div-3">
    <canvas id="line-chart"></canvas>
</div>
</body>
<script src="../static/script/graphScript.js" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</html>