<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget Buddy</title>
    <link rel="stylesheet" href="../static/style/global-style.css">
    <link rel="stylesheet" href="../static/style/home-style.css">
</head>
<body>
<!--<div id="vine-navigator">-->
<!--    <img src="../static/images/vine_2.png"-->
<!--         alt="Vine"-->
<!--         id="vine-navigator-img">-->
<!--</div>-->
<nav>
    <section id="nav-items">
        <div class="nav-item">
            <h4 class="nav-text">
                Home
            </h4>
        </div>
        <div class="nav-item">
            <h4 class="nav-text">
                Premium
            </h4>
        </div>
        <div class="nav-item">
            <h4 class="nav-text">
                Help
            </h4>
        </div>
        <div class="nav-item">
            <h4 class="nav-text">
                Account
            </h4>
        </div>
    </section>
</nav>
<!--<div>-->
<!--    <img src="../static/images/budget_buddy_logo_cropped.jpg"-->
<!--         alt="Budget Buddy Logo"-->
<!--         id="background-logo">-->
<!--</div>-->
<section class="stripe">
    <!--    <div>-->
    <!--        <img src="../static/images/budget_buddy_logo_cropped.jpg"-->
    <!--             alt="Budget Buddy Logo"-->
    <!--             id="promo-logo">-->
    <!--    </div>-->
    <div id="title-motto-div">
        <div id="title-div">
            <h1 id="title-text">
                BUDGET BUDDY
            </h1>
        </div>
        <div id="motto-div">
            <h4 id="motto-text">
                Data for your decisions
            </h4>
        </div>
    </div>
</section>
<section id="promo-section">
    <div id="promo-div">
        <div id="promo-text-div">
            <p id="promo-text">
                Budget Buddy is a website that will be a service to anyone who
                wants to manage their money. Anybody will be able to track
                their expenses they have each month and create a budget. This
                will make them more aware of their spending habits and help
                them turn over a new leaf in life as they will grow better in
                their walk with money.
            </p>
        </div>
        <div id="promo-logo-div">
            <img src="../static/images/budget_buddy_logo_cropped.jpg"
                 alt="Budget Buddy Logo"
                 id="promo-logo">
        </div>
    </div>
</section>
<section id="features-section">
<div id="view-statistics-feature">

</div>
</section>
</body>
</html>