<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Budget Buddy</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:herf="@{/static/style/global-style.css}">
    <link rel="stylesheet" href="../static/style/home-style.css"
          th:href="@{/static/style/home-style.css}">
</head>
<body>
<!--<div id="vine-navigator">-->
<!--    <img src="../static/images/vine_2.png"-->
<!--         alt="Vine"-->
<!--         id="vine-navigator-img">-->
<!--</div>-->
<nav>
    <section id="nav-items">
        <a class="link-no-style" href="/">
            <div class="nav-item">
                <h4 class="nav-text">
                    Home
                </h4>
            </div>
        </a>
        <div class="nav-item">
            <h4 class="nav-text">
                Premium
            </h4>
        </div>
        <a class="link-no-style" href="/budget">
            <div class="nav-item">
                <h4 class="nav-text">
                    Budget
                </h4>
            </div>
        </a>
        <a class="link-no-style" href="/account">
            <div class="nav-item">
                <h4 class="nav-text">
                    Account
                </h4>
            </div>
        </a>
    </section>
</nav>
<!--<div>-->
<!--    <img src="../static/images/budget_buddy_logo_cropped.jpg"-->
<!--         alt="Budget Buddy Logo"-->
<!--         id="background-logo">-->
<!--</div>-->
<section id="headline-section" class="stripe">
    <!--    <div>-->
    <!--        <img src="../static/images/budget_buddy_logo_cropped.jpg"-->
    <!--             alt="Budget Buddy Logo"-->
    <!--             id="promo-logo">-->
    <!--    </div>-->
    <div id="title-motto-div">
        <div id="title-div">
            <h1 id="title-text">
                BUDGET BUDDY
            </h1>
        </div>
        <div id="motto-div">
            <h4 id="motto-text">
                Data for your decisions
            </h4>
        </div>
    </div>
</section>
<section id="promo-section">
    <div id="promo-div">
        <div id="promo-text-div">
            <p id="promo-text" class="indented">
                Budget Buddy is a website that will be a service to anyone who
                wants to manage their money. Anybody will be able to track
                their expenses they have each month and create a budget. This
                will make them more aware of their spending habits and help
                them turn over a new leaf in life as they will grow better in
                their walk with money.
            </p>
        </div>
        <div id="promo-logo-div">
            <img src="../static/images/budget_buddy_logo_cropped.jpg"
                 alt="Budget Buddy Logo"
                 id="promo-logo">
        </div>
    </div>
</section>

<section id="features-section">
    <div id="visualize-feature-with-product-name">
        <div class="stripe" id="visualize-feature-stripe">
            <div id="visualize-data-title-div">
                <h3 id="visualize-data-title-text">VISUALIZE YOUR DATA</h3>
            </div>
        </div>
        <div id="visualize-product-name-div">
            <h4 id="product-name-visualize-text">Buddy Breakdown</h4>
        </div>
    </div>
    <div id="pie-with-text">
        <div id="pie-chart-container">
            <div id="feature-pie-chart-div">
                <canvas id="feature-pie-chart">
                    Your browser does not support Chart.js.
                </canvas>
            </div>
        </div>
        <div id="buddy-breakdown-text-div">
            <p id="buddy-breakdown-text" class="indented">
                Unlock your potential with <b>Buddy Breakdown</b>. A feature
                that allows members to see where all of their money is
                going! Knowing where your money goes plays a huge part into
                how you spend your money. A personal pie chart can show a
                user what categories their money is going into and how much
                is going to each one. This is a great way to see where most
                of your money ends up. Not happy about where you money goes?
                Let us talk about budgeting!
            </p>
        </div>
    </div>

    <div id="budgeting-feature-with-product-name">
        <div class="stripe" id="budgeting-feature-stripe">
            <div id="budgeting-data-title-div">
                <h3 id="budgeting-data-title-text">LAYING IT ALL OUT</h3>
            </div>
        </div>
        <div id="budgeting-product-name-div">
            <h4 id="product-name-budgeting-text">Budget Buddy</h4>
        </div>
    </div>
    <div id="bar-with-text">
        <div id="budget-text-div">
            <p id="budget-text" class="indented">
                Our goal is to help you grow in your own walk with money. One
                way we can do this is through talking about budgeting. Budgeting
                is a great way to tell yourself where money should be going each
                month, but it is only up to you to hold yourself accountable to
                that budget. Just because something is on sale or clearance,
                does not mean that you can afford it in this month's budget. We
                provide an easy way for members that can help them plan out where
                money should be going each month. Maybe even help them start to
                stash a little something on the side!
            </p>
        </div>
        <div>
            <div id="bar-chart-container">
                <div id="feature-bar-chart-div">
                    <canvas id="feature-bar-chart">
                        Your browser does not support Chart.js.
                    </canvas>
                </div>
            </div>
            <div id="quote-text-div">
                <blockquote>
                    "A budget tells us what we can't afford, but it doesn't keep us
                    from buying it."
                </blockquote>
                <p id="quote-text">
                    - William Feather
                </p>
            </div>
        </div>
    </div>
    <div id="history-feature-with-product-name">
        <div class="stripe" id="history-feature-stripe">
            <div id="history-data-title-div">
                <h3 id="history-data-title-text">LOOKING BACK AT THE PAST</h3>
            </div>
        </div>
        <div id="history-product-name-div">
            <h4 id="product-name-history-text">History Buddy</h4>
        </div>
    </div>

    <div id="line-with-text">
        <div id="line-chart-container">
            <div id="feature-line-chart-div">
                <canvas id="feature-line-chart">
                    Your browser does not support Chart.js.
                </canvas>
            </div>
        </div>
        <div id="history-text-div">
            <p id="history-text" class="indented">
                Want to know how things are progressing? Now you can! Becoming a
                member will let a user be able to see where they started and
                where they are now. They will be able to see a history of their
                income; expense entries; money spent in different categories;
                and money saved each month in the different categories. Together,
                we can learn from your history to help you grow better tomorrow.
            </p>
        </div>
    </div>
</section>

<footer id="footer">
    <section id="footer-section">
        <div id="footer-text-div">
            <p id="footer-text">
                &copy; 2024 Budget Buddy. <br> All rights reserved.
            </p>
        </div>
        <div id="footer-links-div">
            <a href="/terms" class="link-no-style">
                <div id="terms-link-div">
                    <h5 id="terms-link-text">Terms of Service</h5>
                </div>
            </a>
        </div>
    </section>
</footer>
<script src="../static/script/homeScript.js" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>