<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget Buddy</title>
    <link rel="stylesheet" href="../static/style/global-style.css">
</head>
<body>

<nav>
    <section id="nav-items">
        <div class="nav-item">
            <h4 class="nav-text">
                Home
            </h4>
        </div>
        <div class="nav-item">
            <h4 class="nav-text">
                Premium
            </h4>
        </div>
        <div class="nav-item">
            <h4 class="nav-text">
                Help
            </h4>
        </div>
        <div class="nav-item">
            <h4 class="nav-text">
                Account
            </h4>
        </div>
    </section>
</nav>
<section class="stripe">
    <div>
        <img src="../static/images/budget_buddy_logo_cropped.jpg"
             alt="Budget Buddy Logo"
             id="promo-logo">
    </div>
    <div id="title-motto-div">
        <div id="title-div">
            <h1 id="title-text">
                BUDGET BUDDY
            </h1>
        </div>
        <div id="motto-div">
            <h4 id="motto-text">
                Data for your decisions
            </h4>
        </div>
    </div>
</section>
<section id="promo-section">
    <div>
        <p>

        </p>
    </div>
</section>
<section id="features-section">

</section>
</body>
</html>