<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<!---------------------------------Metadata---------------------------------->
<head>
    <meta charset="UTF-8">
    <title>Terms | Budget Buddy</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}">
    <link rel="stylesheet" href="../static/style/terms-style.css"
          th:href="@{/style/terms-style.css}">
    <link rel="icon" href="../static/images/favicon/budget_buddy_favicon.ico"
          th:href="@{/images/favicon/budget_buddy_favicon.ico}">
</head>
<body>
<!----------------------------------Nav-Bar---------------------------------->
<nav>
    <section id="nav-items">
        <!-----------------------Nav-To-Home-Page---------------------------->
        <a class="link-no-style" href="/">
            <div class="nav-item">
                <h4 class="nav-text">
                    Home
                </h4>
            </div>
        </a>
        <!-------------------------Nav-To-Premium---------------------------->
        <div class="nav-item">
            <h4 class="nav-text">
                Premium
            </h4>
        </div>
        <!--------------------------Nav-To-Budget---------------------------->
        <a class="link-no-style" href="/budget/">
            <div class="nav-item">
                <h4 class="nav-text">
                    Budget
                </h4>
            </div>
        </a>
        <!--------------------------Nav-To-Account--------------------------->
        <a class="link-no-style" href="/user/">
            <div class="nav-item account-name-div">
                <h4 class="nav-text account-name-text">
                    Account
                </h4>
            </div>
        </a>
    </section>
</nav>
<main>
    <!----------------------------Terms-Section------------------------------>
    <section id="terms-section">
        <div id="terms-text-div">
            <div id="terms-title-with-note">
                <!-----------------Terms-Title------------------------------->
                <div id="terms-title-div">
                    <h2 id="terms-title-text">
                        Terms of Service
                    </h2>
                </div>
                <!-----------------Terms-Note-------------------------------->
                <div id="terms-note-div">
                    <p id="terms-note-text">
                        Since Oliver, Martha, Greg, and Simon are not lawyers,
                        these terms were written with the help of artificial
                        intelligence. We do not claim that we wrote the terms
                        of service.
                    </p>
                </div>
            </div>
            <hr/>
            <!-------------------Terms-Content------------------------------->
            <div id="terms-content-div">
                <!------------------Term-One--------------------------------->
                <div class="title-and-content-div">
                    <!-----------Term-One-Title------------------------------>
                    <div class="terms-title-div">
                        <h4 class="terms-title-text">
                            1. Acceptance of Terms
                        </h4>
                    </div>
                    <!-----------Term-One-Content---------------------------->
                    <div class="terms-content-div">
                        <p class="terms-content-text indented">
                            By accessing and using Budget Buddy, you agree to
                            be bound by these Terms of Service. If you do not
                            agree, you should not use Budget Buddy.
                        </p>
                    </div>
                </div>
                <!------------------Term-Two--------------------------------->
                <div class="title-and-content-div">
                    <!-----------Term-Two-Title------------------------------>
                    <div class="terms-title-div">
                        <h4 class="terms-title-text">
                            2. Privacy
                        </h4>
                    </div>
                    <!-----------Term-Two-Content---------------------------->
                    <div class="terms-content-div">
                        <p class="terms-content-text indented">
                            Your privacy is important to us. We commit to
                            protecting your personal information in accordance
                            with our Privacy Policy.
                        </p>
                    </div>
                </div>
                <!------------------Term-Three------------------------------->
                <div class="title-and-content-div">
                    <!-----------Term-Three-Title---------------------------->
                    <div class="terms-title-div">
                        <h4 class="terms-title-text">
                            3. Use of Service
                        </h4>
                    </div>
                    <!-----------Term-Three-Content-------------------------->
                    <div class="terms-content-div">
                        <p class="terms-content-text indented">
                            You are responsible for maintaining the
                            confidentiality of your account information and
                            for all activities under your account. You agree
                            to use Budget Buddy for lawful purposes only.
                        </p>
                    </div>
                </div>
                <!------------------Term-Four-------------------------------->
                <div class="title-and-content-div">
                    <!-----------Term-Four-Title----------------------------->
                    <div class="terms-title-div">
                        <h4 class="terms-title-text">
                            4. Liability
                        </h4>
                    </div>
                    <!-----------Term-Four-Content--------------------------->
                    <div class="terms-content-div">
                        <p class="terms-content-text indented">
                            Budget Buddy is provided "as is" and without
                            warranties of any kind. We do not guarantee the
                            accuracy or timeliness of information available
                            from the service. You agree that your use of
                            Budget Buddy is at your sole risk. Budget Buddy,
                            its affiliates, and its licensors will not be
                            liable for any direct, indirect, incidental,
                            special, consequential, or exemplary damages,
                            including but not limited to, damages for loss of
                            profits, goodwill, use, data, or other intangible
                            losses.
                        </p>
                    </div>
                </div>
                <!------------------Term-Five-------------------------------->
                <div class="title-and-content-div">
                    <!-----------Term-Five-Title----------------------------->
                    <div class="terms-title-div">
                        <h4 class="terms-title-text">
                            5. Changes to Terms
                        </h4>
                    </div>
                    <!-----------Term-Five-Content--------------------------->
                    <div class="terms-content-div">
                        <p class="terms-content-text indented">
                            We reserve the right to modify these terms at any
                            time. Your continued use of Budget Buddy after
                            such changes will constitute acknowledgment and
                            agreement of the modified terms.
                        </p>
                    </div>
                </div>
                <!------------------Term-Six--------------------------------->
                <div class="title-and-content-div">
                    <!-----------Term-Six-Title------------------------------>
                    <div class="terms-title-div">
                        <h4 class="terms-title-text">
                            6. Termination
                        </h4>
                    </div>
                    <!-----------Term-Six-Content---------------------------->
                    <div class="terms-content-div">
                        <p class="terms-content-text indented">
                            We may terminate or suspend your access to our
                            Service immediately, without prior notice or
                            liability, for any reason whatsoever, including
                            without limitation if you breach the Terms.
                        </p>
                    </div>
                </div>
                <!------------------Term-Seven------------------------------->
                <div class="title-and-content-div">
                    <!-----------Term-Seven-Title---------------------------->
                    <div class="terms-title-div">
                        <h4 class="terms-title-text">
                            7. Governing Law
                        </h4>
                    </div>
                    <!-----------Term-Seven-Content-------------------------->
                    <div class="terms-content-div">
                        <p class="terms-content-text indented">
                            These terms will be governed by and construed in
                            accordance with the laws of the jurisdiction in
                            which our company is based, without giving effect
                            to any principles of conflicts of law.
                        </p>
                    </div>
                </div>
                <!------------------Term-Eight------------------------------->
                <div class="title-and-content-div">
                    <!-----------Term-Eight-Title---------------------------->
                    <div class="terms-title-div">
                        <h4 class="terms-title-text">
                            8. Contact Us
                        </h4>
                    </div>
                    <!-----------Term-Eight-Content-------------------------->
                    <div class="terms-content-div">
                        <p class="terms-content-text indented">
                            If you have any questions about these Terms,
                            please contact us.
                        </p>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </section>
</main>
<!----------------------------------Footer----------------------------------->
<footer id="footer">
    <section id="footer-section">
        <!---------------------Budget-Buddy-Copyright------------------------>
        <div id="footer-text-div">
            <p id="footer-text">
                &copy; 2024 Budget Buddy. <br> All rights reserved.
            </p>
        </div>
        <!------------------------Terms-Of-Service--------------------------->
        <div id="footer-links-div">
            <a href="/terms" class="link-no-style">
                <div id="terms-link-div">
                    <h5 id="terms-link-text">Terms of Service</h5>
                </div>
            </a>
        </div>
    </section>
</footer>
<!----------------------------------Scripts---------------------------------->
<script src="../static/script/globalScript.js"
        th:src="@{/script/globalScript.js}"></script>
<noscript>
    <h3>JavaScript is required for this page to function properly.</h3>
</noscript>
</body>
</html>